# Node dependencies
node_modules/

# Environment variables
.env
.env.*  # e.g. .env.test, .env.production

# Logs
*.log
logs/
npm-debug.log*

# Test coverage output
coverage/
.nyc_output/

# Build output 
dist/
build/

# Jest cache
jest-cache/
jest-output/

# VSCode settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db
